/* style appliqué a toute la body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, Arial, sans-serif;
}
/* style du header */
header {
  width: 100%;
  height: 100px;
  background-color: #27242b;
}
.menu {
  display: flex;
  padding: 0 20%;
}
img {
  width: 100%;
  height: 80%;
  padding: 6px 0;
}
.nav,
.logo,
.lien {
  width: 20%;
  margin: 18px 50px;
}
.nav ul {
  display: flex;
  padding: 7px 0;
}
.nav li {
  margin-right: 50px;
  list-style-type: none;
}
.nav a {
  color: aliceblue;
  text-decoration: none;
}

.lien a {
  float: right;
  padding: 23px 0;
  color: aquamarine;
}
/* section1 */
.section1 {
  height: 750px;
  overflow: hidden;
  margin-top: 0.5px;
  background-color: #27242b;
}
.section1 h1 {
  color: white;
  font-weight: 400;
  font-family: Raleway, Arial, sans-serif;
}
strong {
  font-weight: 600;
}
.section1 h2 {
  font-weight: 600;
  color: #3d9f96;
  text-transform: uppercase;
  font-family: Raleway, Arial, sans-serif;
}
.section1 p {
  color: white;
}
input {
  width: 200px;
  height: 50px;
  margin: 1% 43%;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  border-color: transparent;
  background-color: #3d9f96;
}
.section1 h1,
h2,
p {
  text-align: center;
}
.section1 img {
  width: 60%;
  margin: 2% 20%;
}
/* section2 */
.section2 {
  height: auto;
  background-color: white;
}
.section2 h2 {
  font-weight: 400;
  font-family: Raleway, Arial, sans-serif;
}
.m-social {
  width: 35%;
  height: 35px;
  display: grid;
  margin: 5% 33%;
  grid-template-columns: repeat(8, 1fr);
}
.m-social i {
  font-size: 2.3em;
  color: #27242b;
  margin-right: 25px;
}
h3 {
  color: #3d9f96;
  font-weight: 600;
  margin-top: -30px;
  text-align: center;
  margin-bottom: 100px;
  text-transform: uppercase;
}
.play {
  display: grid;
  margin: 100px 20px;
  grid-template-columns: repeat(3, 1fr);
}
.play i {
  font-size: 2em;
  color: #3d9f96;
  margin-right: 10px;
}
/* section3 */
.section3 {
  width: 100%;
  height: 350px;
  padding: 20px 0;
  background-color: #27242b;
}
.section3 p {
  color: white;
  margin-left: 35px;
  margin-top: -20px;
}
.section3 h4 {
  text-align: center;
  text-transform: uppercase;
  color: rgba(47, 245, 175, 0.733);
}
svg {
  margin: 0 38%;
}
/* section4 */
.section4 {
  width: 100%;
  height: auto;
}
.section4 h2 {
  font-weight: 400;
  font-family: Raleway, Arial, sans-serif;
}
.section4 h3 {
  margin: 12px 0;
  text-align: left;
  color: #27242b;
  font-weight: 400;
}
.p-droit p {
  margin: 50px 0;
}
.p-droit input {
  margin-top: 50px;
  margin-left: 15px;
}
.titlebest {
  margin-top: 50px;
  padding-right: 410px;
}
.screenshot {
  display: grid;
  margin: 0 20%;
  grid-template-columns: repeat(3, 1fr);
}
figcaption {
  font-weight: 600;
}
.play2 {
  display: grid;
  margin: 50px 20%;
  grid-template-columns: repeat(2, 1fr);
}
.play2 p {
  text-align: justify;
}
.p-droit,
.responsive {
  vertical-align: top;
}
.play2 img,
.p-droit {
  padding: 150px 55px;
}
.responsive,
.p-bas img {
  padding: 100px 55px;
}
.responsive input {
  margin-left: 20px;
  margin-top: 50px;
}
.responsive h2 {
  margin-bottom: 30px;
}
/* footer */
.pieds {
  display: grid;
  margin: 10% 20%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
}
.pieds h2 {
  font-weight: 600;
  text-transform: uppercase;
}
.pieds ul {
  margin-left: 50px;
}
.pieds li {
  margin-bottom: 5px;
  list-style-type: none;
}
.pieds a {
  color: #27242b;
  text-decoration: none;
}
.fontfoot {
  grid-column: 3/4;
  padding: 100px 0 0 15px;
  color: rgb(13, 109, 75);
}
.fontfoot i {
  margin-right: 10px;
  color: #3d9f96;
  font-size: 2em;
}
.p3 {
  width: 320px;
  margin-top: 100px;
}
